<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoxiao.mapper.UserMapper">

    <resultMap id="Student" type="com.xiaoxiao.entity.Student">
        <id property="studentId" column="studentId"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="studentClass" column="class"/>
        <result property="department" column="department"/>
        <result property="birthday" column="birthday"/>
        <result property="nativePlace" column="native_place"/>
    </resultMap>

    <resultMap id="User" type="com.xiaoxiao.entity.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
    </resultMap>

    <!-- int insertUser(@Param("username") String username, @Param("password") String password); -->
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        insert into user values(null,#{user.username}, #{user.password});
    </insert>
    <!--
        查询功能的标签必须设置resultType或resultMap
        resultType：设置默认的映射关系
        resultMap：设置自定义的映射关系
      -->


    <!--    List<User> getAllUsers()-->
    <select id="getAllUsers" resultMap="User">
        select * from student
    </select>

<!--    User getUserByUsername(@Param("username") String username);-->
    <select id="getUserByUsername" resultMap="User">
        select * from user where username = #{username};
    </select>

</mapper>
